<!DOCTYPE html>
<html>
<head>
  <title>Ajax testing <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'ajaxtest' %>
  <%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%= notice %></p>

<%= yield %>  

<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', 'application.js' %> 

</body>
</html>
